<div style="text-align: center;">
    <br>
    <div class="row">
        <div class="col-lg-12" style="text-align:center;">
            <h2>Shopping Cart</h2>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-9" style="width: 1000px;">
            <ng-container *ngFor="let cartItem of cartItems">
                <div class="card">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <img style="width: 100px; height: 100px;" src="../../assets/default_pc_icon.png" />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <p> Product Name: {{cartItem.productName}} </p>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <p>Price: {{cartItem.productPrice}}</p>
                            </div>
                        </div>
                        <br>
                        <p><button class="btn btn-primary" (click)="deleteItem(cartItem._id)" type="submit">Delete</button></p>
                    </div>
                    <br>
                </div>
            </ng-container>
        </div>

        <div class="col-lg-3" style="width: 200px;">
            <div class="card">
                <p>Total Price: $ </p>
                <p><button class="btn btn-primary" (click)="checkout()" type="submit">Check Out</button></p>
            </div>
        </div>
    </div>
</div>