<div class="container" style="margin: auto;">
    <div class="row">
        <div class="col-lg-12" style="text-align:center;">
            <h2>Products</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7" style="text-align:center;">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Product Name, Product Price, Product Brand, Product Type" [(ngModel)]="searchProduct">
            </div>
        </div>
        <div class="col-sm-3" style="width: 300px; margin-left: 10px;">
            <div class="row" style="margin-left: 10px;">
                <select class="browser-default custom-select">
                        <option selected>Components</option>
                        <option value="1">CPU</option>
                        <option value="2">RAM</option>
                        <option value="3">Power Supply</option>
                        <option value="4">Graphic card</option>
                        <option value="5">SSD and HDD</option>
                        <option value="6">Case</option>
                        <option value="7">Accessory</option>
                    </select>
            </div>
        </div>
    </div>

    <div class="container" style="text-align: center;">
        <div class="row">
            <div class="cardList" *ngFor="let product of products | filter:searchProduct" style="text-align: center;">
                <ng-container>
                    <div class="card" style="width: 250px; height: 600px;">
                        <img style="width: 100px; height: 100px; margin: auto;" src="../../assets/default_pc_icon.png" />
                        <p class="card-title">Name: {{ product.productName }}</p>
                        <p class="card-text">Price: ${{ product.productPrice }}</p>
                        <p><button class="btn btn-outline-primary mb-2 mr-2" (click)="open(content, product)">Details</button></p>
                        <p><button class="btn btn-outline-primary mb-2 mr-2" (click)="addToCart(product)">Add to cart</button></p>
                    </div>
                </ng-container>
            </div>

            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Product Details</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <img style="width: 100px; height: 100px; margin: auto;" src="../../assets/default_pc_icon.png" />
                    <p>Product Name: {{ modalContent.productName }}</p>
                    <br>
                    <p>Product Price: ${{ modalContent.productPrice }}</p>
                    <br>
                    <p>Product Brand: {{ modalContent.productBrand }}</p>
                    <br>
                    <p>Product Type: {{ modalContent.productType }}</p>
                    <br>
                    <p>Product Description: {{ modalContent.productDescription }}</p>
                </div>
            </ng-template>

            <ng-template #content2 let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Product Details</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="updateProductDetails" (ngSubmit)="updateProduct(updateProductDetails)">
                        <img style="width: 100px; height: 100px; margin: auto;" src="../../assets/default_pc_icon.png" />
                        <div class="form-group row">
                            <label for="editProductName" class="col-sm-4 col-form-label">Product Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="editProductName" [(ngModel)]="modalContent.productName" id="editProductName">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="editProductPrice" class="col-sm-4 col-form-label">Product Price</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="editProductPrice" [(ngModel)]="modalContent.productPrice" id="editProductPrice">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="editProductType" class="col-sm-4 col-form-label">Product Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="editProductType" [(ngModel)]="modalContent.productBrand" id="editProductType">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="editProductBrand" class="col-sm-4 col-form-label">Product Brand</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="editProductBrand" [(ngModel)]="modalContent.productType" id="editProductBrand">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="editProductDescription" class="col-sm-4 col-form-label">Product Description</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="editProductDescription" [(ngModel)]="modalContent.productDescription" id="editProductDescription">
                            </div>
                        </div>

                        <p><button class="btn btn-primary" (click)="updateProduct()" type="submit">Update</button></p>
                    </form>
                </div>
            </ng-template>
        </div>
    </div>
</div>